<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <table>

        <thead>
        <th width="40%">Title</th>
        <th width="30%">Created Date</th>
        <th width="30%">Updated Date</th>
        <th width="30%">Owner</th>
        </thead>
        {% for ques in questions %}
        <tr>
            <td width="40%">{{ ques.title }}</td>
            <td width="30%">{{ ques.created_date }}</td>
            <td width="30%">{{ ques.updated_date }}</td>
            <td width="30%">{{ ques.owner.username }}</td>
            <td width="30%"><a href="/list/{{ques.quest_id}}">View</a></td>
            {% endfor %}
        </tr>
    </table>
</div>
</body>
</html>